VITE_OPENAI_API_KEY=YOUR_OPENAI_API_KEY

OPENAI_API_KEY=YOUR_OPENAI_API_KEY

VITE_USE_PROXY=true
MONGODB_URI=mongodb+srv://kamal_dommeti:gnEdYTnTHFEy34uD@cluster0.u5qbwdv.mongodb.net/?appName=Cluster0


EMAIL_SERVICE=gmail
EMAIL_USER=satyakamal7700sk@gmail.com
EMAIL_PASSWORD=qlqhntgsccssiyvx